*{
    margin: 0;
    padding: 1.5%;
}

body{
    width: 95%;
    background-image: url(../images/fondo1.jpg);
    background-size:cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;

}

#TPAG{
    align-content: center;
    border: 6px solid rgb(39, 4, 17);
    background-color: rgb(192, 34, 73);
    padding: 1rem;
    margin: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: white;

}

#defi{
    align-content: center;
    padding: 1rem;
    border: 5px solid rgb(25, 40, 105);
    background-color: rgb(255, 255, 255);
    margin: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(23, 22, 24);
}

#links{
    align-content: center;
    padding: 1rem;
    border: 5px solid rgb(25, 40, 105);
    background-color: rgb(255, 255, 255);
    margin: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
}